stages:
 - build
 - test
 - deploy

build1:
  stage: build
  script:
     - echo "Building"
     - cd build && cmake .. 
     - make
     - ./build/src/DisplayImage
     
   
test1:
  stage: test
  script: 
    - echo "Do a test here"
    - ls
    - ls build/
    
   
test2:
  stage: test
  script: 
    - echo "Do another parallel test here"
    - echo "For example run a lint test"
   
deploy1:
  stage: deploy
  script:
    - echo "Do your deploy here"
