stages:
 - build
 - test
 - deploy

build1:
  stage: build
  script:
     - echo "Building"
     - cd build && cmake ..
     - make

  artifacts:
     paths:
          - build/
test1:
  stage: test
  script:
    - echo "Do a test here"
    - ../src/DisplayImage

test2:
  stage: test
  script:
    - echo "Do another parallel test here"
    - echo "For example run a lint test"

deploy1:
  stage: deploy
  script:
    - echo "Do your deploy here"
